{% extends "base.html" %}
{% load static %}
{% block title %}Reminders | Create{% endblock %}
{% block stylesheets %}
        <link rel="stylesheet" href="{% static '/packages/bootstrap-datetime/bootstrap-datetime.min.css' %}" />
{% endblock %}
{% block scripts %}
    <script src="{% static '/packages/moment/moment.min.js' %}"></script>
    <script src="{% static '/packages/jquery/jquery.min.js' %}"></script>
    <script src="{% static '/packages/bootstrap-datetime/bootstrap-datetime.min.js' %}"></script>
{% endblock %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        <div class="mx-auto align-bottom text-center p-5" style="background-color: #23272A; max-width: 650px; border-radius: 10px;">
            <h1 class="text-light fs-3" align="center">Create a new reminder</h1>
            <div class="input-group pt-4 px-2">
                <select class="custom-select rounded p-2 text-light fs-5" id="inputGroupSelect04" name="type" style="width: 100%; background-color: #23272A;">
                  <option value="custom" {% if current_user.setting_deleted_messages == "show" %}selected{% endif %}>Custom Reminder.</option>
                  <option value="homework" disabled {% if current_user.setting_deleted_messages == "hide" %}selected{% endif %}>Homework Reminder.</option>
                  <option value="assessment" disabled {% if current_user.setting_deleted_messages == "hide" %}selected{% endif %}>Assessment Reminder.</option>
                </select>
            </div>
            <div class="form-group pt-4 px-2">
                <input required type="text" class="form-control text-white fs-3" id="title" name="title" placeholder="Reminder Name" style="background-color: #23272A;" maxlength=48>
            </div>
            <div class="form-group pt-4 px-2">
                <textarea class="form-control text-white fs-5" id="description" name="description" placeholder="Reminder Description" style="background-color: #23272A;" maxlength="512"></textarea>
            </div>
            <div class="form-group pt-4 px-2" style="position: relative">
                <input class="form-control text-light" type="text" id="datetime" name="time" style="background-color: #23272A" />
            </div>
            <script>
                $(document).ready(function() {
                    $('#datetime').datetimepicker({
                        format: 'YYYY-MM-DD HH:mm',
                        defaultDate: new Date(),
                        useCurrent: true,
                        stepping: 1,
                        sideBySide: true,
                        timeZone: 'AEST'
                    });
                });
            </script>
            <button type="submit" class="btn btn-primary mt-4 fs-4" style="background-color: #5865F2; border-color: #5865F2;">
                Create
            </button>
        </div>
    </form>
{% endblock %}