body {
    background-color: #2C2F33;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
#navbar {
    background-color: #5865F2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 5.25rem;
}
#main-logo {
    position: absolute;
    left:50%;
    transform: translate(calc(-50% + 2vw), 0);
    width: 65px;
    height: auto;
}
#footer {
    width: 100%;
    margin-top: auto;
    text-align: center;
}
#footer p {
    color: #6c757d;
}
#sidebar {
    height: 100%;
    width: 4rem;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #23272A;
    padding-top: 15px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#logout-button {
    margin-top: auto;
}
#sidebar a {
    padding: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    transition: 0.5s;
    border: transparent solid 3px;
}
#sidebar a span:after {
    display: block;
    content: '';
    border-bottom: #0d6efd solid 3px !important;
    transform: scaleX(0);
    transition: transform 150ms ease-in-out;
}
#sidebar a span:hover:after {
    transform: scaleX(1);
}
#sidebar a span {
    font-size: 28px;
}
#discord-icon {
    transform: translate(0px, -4px);
}
.active-icon {
    border-left: #6610f2 solid 3px !important;
    border-radius: 4px;
}
#container {
    padding: 50px;
    max-width: 80vw !important;
    width: 100vw;
    margin-right: auto;
    margin-left: auto;
}
.gradient-0 {
  color: var(--bs-red);
}
.gradient-1 {
  color: var(--bs-red);
}
.gradient-2 {
  color: var(--bs-orange);
}
.gradient-3 {
  color: var(--bs-yellow);
}
.gradient-4 {
  color: var(--bs-yellow);
}
.gradient-5 {
  color: var(--bs-yellow);
}
.gradient-6 {
  color: var(--bs-yellow);
}
.gradient-7 {
  color: var(--bs-teal);
}
.gradient-8 {
  color: var(--bs-teal);
}
.gradient-9 {
  color: var(--bs-green);
}
.gradient-10 {
  color: var(--bs-green);
}

body {
    padding-left: 4rem;
}

html {
    scrollbar-width: thin;
}

::-webkit-scrollbar {
    width: 9px;
}
::-webkit-scrollbar-track {
    background: #1e2124;
    border-radius: 0 10px 0 0
}
::-webkit-scrollbar-thumb {
    background-color: rgba(155, 155, 155, 0.5);
    border: transparent;
}


.popup-background {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     opacity: 0;
     z-index: -1;
     background-color: #ffffff;
}
.popup-background.visible {
     opacity: 0.2;
     z-index: 9998 !important;
}
.cd-popup {
   z-index: 9999 !important;
}
