body {
    background-color: #2C2F33;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
#navbar {
    background-color: #5865F2;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#main-logo {
    position: absolute;
    left:50%;
    transform: translate(-50%, 0);
    width: 50px;
    height: auto;
}
#sidebar-button {
    display: flex;
    height: 60px;
    width: 60px;
    margin-left: 5px;
    color: white;
    background-color: #5865F2;
    border: none;
    transition: 0.5s;
    align-items: center;
    justify-content: center;
}
#sidebar-button:hover {
    color: #cacaca;
}
#sidebar-button span {
    font-size: 28px;
}
#footer {
    width: 100%;
    margin-top: auto;
    text-align: center;
}
#footer p {
    color: #6c757d;
}
#sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #23272A; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 16px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}
#sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
#sidebar a:hover {
    color: #f1f1f1;
}
#container {
    padding: 50px;
    max-width: 80vw !important;
    width: 100vw;
    margin-right: auto;
    margin-left: auto;
}
.gradient-0 {
  color: var(--bs-red);
}
.gradient-1 {
  color: var(--bs-red);
}
.gradient-2 {
  color: var(--bs-orange);
}
.gradient-3 {
  color: var(--bs-yellow);
}
.gradient-4 {
  color: var(--bs-yellow);
}
.gradient-5 {
  color: var(--bs-yellow);
}
.gradient-6 {
  color: var(--bs-yellow);
}
.gradient-7 {
  color: var(--bs-teal);
}
.gradient-8 {
  color: var(--bs-teal);
}
.gradient-9 {
  color: var(--bs-green);
}
.gradient-10 {
  color: var(--bs-green);
}