{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CoolBox | {% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static "/packages/bootstrap/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "/base/base.css" %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    {% block stylesheets %}{% endblock %}

    <script src="{% static "/packages/bootstrap/js/bootstrap.min.js" %}"></script>
    <script defer src="{% static "/base/base.js" %}"></script>
    {% block scripts %}{% endblock %}
</head>
<body style="{% block content-css %}{% endblock %}">
    <nav id="navbar">
        <input type="image" onclick="window.location='/';" id="main-logo" src="{% static "/base/images/logo.png" %}" alt="Donvale Christian College">
    </nav>
    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="alert alert-danger alert-dismissible fade show text-dark position-fixed" role="alert" style="bottom: 0; left: 18px; padding: 10px; font-size: 20px; z-index: 1000">
                    {{ message.message }}
                </div>
            {% endif %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="alert alert-success alert-dismissible fade show text-dark position-fixed" role="alert" style="bottom: 0; left: 18px; padding: 10px; font-size: 20px; z-index: 1000">
                    {{ message.message }}
                </div>
            {% endif %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                <div class="alert alert-warning alert-dismissible fade show text-dark position-fixed" role="alert" style="bottom: 0; left: 18px; padding: 10px; font-size: 20px; z-index: 1000">
                    {{ message.message }}
                </div>
            {% endif %}
        {% endfor %}
        <script>
            setTimeout(function() {
                document.querySelectorAll('.alert').forEach(function(alert) {
                    alert.classList.remove('show');
                });
            }, 2000);
        </script>
    {% endif %}
    <div id="sidebar">
        {% if request.user.is_authenticated %}
            <a href="/dashboard/" class="text-nowrap {% if "/dashboard/" in request.path %}active-icon{% endif %}" title="Dashboard"><span class="material-icons-outlined">space_dashboard</span></a>
            <a href="/quick-notes/" class="text-nowrap {% if "/quick-notes/" in request.path %}active-icon{% endif %}" title="Quick Notes"><span class="material-icons-outlined">note_alt</span></a>
            <a href="/assessments/" class="text-nowrap {% if "/assessments/" in request.path %}active-icon{% endif %}" title="Assessments"><span class="material-icons-outlined">assignment</span></a>
            <a href="/homework/" class="text-nowrap {% if "/homework/" in request.path %}active-icon{% endif %}" title="Homework"><span class="material-icons-outlined">add_home_work</span></a>
            <a href="https://chats.coolbox.lol/" class="text-nowrap" title="Discussion"><span class="material-icons-outlined">textsms</span></a>
            <a href="/reminders/" class="text-nowrap {% if "/reminders/" in request.path %}active-icon{% endif %}" title="Reminders"><span class="material-icons-outlined">notifications_active</span></a>
            <a href="/information/" class="text-nowrap {% if "/information/" in request.path%}active-icon{% endif %}" title="Information"><span class="material-icons-outlined">info</span></a>
            <a href="https://discord.gg/86f8YEtTa6" class="text-nowrap" title="Discord"><img src="{% static "/base/images/discord.png" %}" alt="Discord" style="width: 31px"></a>
            <a href="/auth/logout/" id="logout-button" class="text-danger text-nowrap" title="Logout"><span class="material-icons-outlined">logout</span></a>
        {% else %}
            <a href="/auth/login/" class="text-nowrap {% if "/auth/login/" in request.path %}active-icon{% endif %}" title="Login"><span class="material-icons-outlined">login</span></a>
            <a href="/information/" class="text-nowrap {% if "/information/" in request.path %}active-icon{% endif %}" title="Information"><span class="material-icons-outlined">info</span></a>
        {% endif %}
    </div>
    <div id="container">
        {% block content %}
        {% endblock %}
    </div>
    <div id="footer">
        <p>Not affiliated with Donvale Christian College. No Schoolbox credentials are logged or stored in any way.</p>
    </div>
</body>
</html>